<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nosotros</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header class="site-header">
    <div class="contenedor contenido-header">
        <div class="barra">
            <a href="../index.html"><img src="../img/logo.svg" alt="Bienes Raíces"></a>

            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a>
                <a href="anuncios.html">Anuncios</a>
                <a href="blog.html">Blog</a>
                <a href="contacto.html">Contacto</a>
            </nav>
        </div>
    </div>
</header>

<h1 class="fw-300 centrar-texto">Contacto</h1>
<img src="../img/destacada3.jpg" alt="Imagen principal">


<main class="contenedor seccion contenido-centrado texto-entrada">
    <h2 class="fw-300 centrar-texto">Llena el Formulario de Contacto</h2>

    <form action="">

        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="phone">Teléfono:</label>
        <input type="tel" name="phone" id="phone" required>

        <label for="msg">Mensaje:</label>
        <textarea name="msg" id="msg" cols="30" rows="10"></textarea>

        <input type="submit">
    </form>
</main>

<footer class="site-footer seccion">
    <div class="contenedor contenedor-footer">
        <nav class="navegacion">
            <a href="views/nosotros.html">Nosotros</a>
            <a href="views/anuncios.html">Anuncios</a>
            <a href="views/blog.html">Blog</a>
            <a href="views/contacto.html">Contacto</a>
        </nav>
        <div class="copyight">
            Derechos reservados &copy;
        </div>
    </div>

</footer>
</body>
</html>