<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nosotros</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header class="site-header">
    <div class="contenedor contenido-header">
        <div class="barra">
            <a href="../index.html"><img src="../img/logo.svg" alt="Bienes Raíces"></a>

            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a>
                <a href="anuncios.html">Anuncios</a>
                <a href="blog.html">Blog</a>
                <a href="contacto.html">Contacto</a>
            </nav>
        </div>
    </div>
</header>

<h1 class="fw-300 centrar-texto">¿Como construir una piscina en tu casa sin gastar demasiado?</h1>
<img src="../img/destacada2.jpg" alt="Casa en venta frente al bosque">

<main class="contenedor seccion contenido-centrado texto-entrada">
    <p>Escrito el: <span>20/10/2019</span> por: <span>Admin</span></p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eaque et impedit iusto labore laudantium molestiae quas ut. Accusamus adipisci animi assumenda et excepturi fugiat incidunt nam omnis optio placeat!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquid commodi dignissimos dolor dolorum earum error hic ipsum nihil, nostrum officiis perspiciatis quibusdam, quisquam recusandae temporibus vel voluptate voluptatem voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur blanditiis, culpa deserunt dolore doloremque excepturi fuga, ipsam itaque obcaecati possimus repellat rerum sapiente tempore voluptates. Aliquam consequuntur nesciunt obcaecati.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad assumenda consequatur, dicta doloremque dolores doloribus eveniet illum laboriosam minus molestiae nam obcaecati perspiciatis, quo quod sapiente similique temporibus ut.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus in mollitia perspiciatis tenetur voluptas? Incidunt minima, odit? Assumenda commodi consectetur cum eaque eligendi exercitationem illo libero minima omnis, sapiente sit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur blanditiis consectetur consequuntur cupiditate debitis, deserunt facere ipsum iste itaque nostrum quae sed. Asperiores assumenda autem deserunt soluta tenetur voluptate?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio enim illum quam. Aliquid facere incidunt maxime modi neque obcaecati omnis optio provident quos sequi! Blanditiis labore nostrum officia possimus tempore.Adipisci amet animi culpa cupiditate dolores eligendi harum, id incidunt inventore ipsa laudantium magni, maiores nulla numquam pariatur possimus recusandae repellat tempora ut vel? Debitis distinctio dolorum impedit similique voluptas.Beatae consequuntur culpa ex illo odio quasi quo recusandae similique suscipit. Accusantium ad consequatur eligendi enim et eveniet expedita, inventore libero magnam neque nulla officiis quod repudiandae saepe temporibus veniam.</p>
</main>

<footer class="site-footer seccion">
    <div class="contenedor contenedor-footer">
        <nav class="navegacion">
            <a href="views/nosotros.html">Nosotros</a>
            <a href="views/anuncios.html">Anuncios</a>
            <a href="views/blog.html">Blog</a>
            <a href="views/contacto.html">Contacto</a>
        </nav>
        <div class="copyight">
            Derechos reservados &copy;
        </div>
    </div>

</footer>
</body>
</html>